<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dear Reader</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/home.css" />
</head>
<body>
  <div class="Content">

    <div class="Header">
      <div class="Header__title"></div>
      <div class="Header__description">Deliver stuff from Feedbin to your Kindle.</div>
    </div>

    <a href="#" class="Instructions">Instructions</a>
    <div class="Kindle"></div>
  </div>
</body>
</html>
