<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Reader</title>
    <% if (isDevelopment) { -%>
    <script src="js/base.js" charset="utf-8"></script>
    <script src="js/Spinner.js" charset="utf-8"></script>
    <script src="js/Preview.js" charset="utf-8"></script>
    <script src="js/Reader.js" charset="utf-8"></script>
    <script src="js/client.js" charset="utf-8"></script>
    <% } else { -%>
    <script src="/js/all.js"></script>
    <% } -%>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body></body>
</html>
