<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Dear Reader (1.0.0)</title>
    <% if (isDevelopment) { -%>
    <script src="js/base.js" charset="utf-8"></script>
    <script src="js/Spinner.js" charset="utf-8"></script>
    <script src="js/setup.js" charset="utf-8"></script>
    <% } else { -%>
    <script src="/js/all.setup.js"></script>
    <% } -%>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="Setup">
  </body>
</html>
