:root {
  --black: #111;
  --blue: #2477BE;
  --gray: #F4F4F4;
  --green: #23D5AB;
  --red: #F44336;
  --white: #FFFFFF;
  --yellow: #FFEB3B;
  --background: #fef6f0;
  --text: hsl(26deg 42% 26%);
}

html, body {
  width: 100%;
  height: 100%;
}

body.Setup {
  height: auto;
}

body {
  font-size: 1.4em;
  line-height: 145%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 1em;
  color: var(--text);
  background: var(--background);
}


sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  color: var(--light);
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a {
  text-decoration: none;
}

code {
  font-family: monospace;
}

.Reader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Entries {
  width: 100%;
  height: 100%;
  padding: 2em;
  overflow: hidden;
  overflow-y: scroll;
}

.Entry.is-visible {
  display: block;
}

.Entry {
  display: none;
  margin: 0 0 2em;
  font-size: 1em;
}

.Entry__summary {
  font-style: italic;
  margin: 0 0 1em;
}

.Entry__title {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 145%;
  margin: 0 0 1em;
  user-select: none;
}

.Entry__title span {
  font-weight: normal;
}

.Entry__date {
  opacity: 0.5;
  font-size: 0.8em;
  user-select: none;
}

.Entry__content p {
  margin: 0 0 1em;
}

.Entry__content ul {
  margin: 0 0 0 1em;
  list-style: disc;
}

.Spinner {
  display: none;
  border-top: 3px solid var(--gray);
  border-right: 3px solid var(--gray);
  border-bottom: 3px solid var(--gray);
  border-left: 3px solid var(--text);
  animation: spinner 0.8s infinite linear;
}


.Spinner.is-inside-button {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
}

.Spinner.is-visible {
  display: block;
}

.Spinner, .Spinner:after {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Entry {
}

.Entry__title {
  font-weight: bold;
}

.Info {
  position: relative;
  width: 700px;
  border: 1px solid rgba(94, 63, 38, 0.4);
  background: var(--white);
  box-shadow: 4px 4px 0 rgb(94, 63, 38 , 0.4);
}

.Info strong {
  font-weight: 600;
}

.Info__content {
  padding: 1em;
  line-height: 145%;
}

.Info .Spinner {
  margin: 1em;
}

button {
  position: relative;
  padding: 0.8em;
  border: 1px solid rgba(94, 63, 38, 0.4);
  font-size: 0.8em;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  user-select: none;
  color: var(--text);
  background: var(--white);
  transition: background 100ms ease-in-out, opacity 100ms ease-in-out, color 100ms ease-in-out;
}

.Button.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.Button.is-primary {
  background: transparent;
  color: var(--white);
  background: var(--text);
  border: none;
}

.Button.is-primary:hover {
  background: rgba(94, 63, 38, 0.9);
  color: var(--white);
  border: none;
}

.Button.is-secondary {
  color: var(--text);
}

.Button.is-secondary:hover {
  background: rgba(94, 63, 38, 0.1);
  color: var(--text);
}

.Actions {
  display: flex;
  position: relative;
  width: 100%;
  padding: 1em .8em;
  background: rgba(94, 63, 38, 0.1);
}

.Actions .Button {
  flex: 1;
}

.Actions > * {
  margin: 0 .4em;
}

.Preview {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -450px;
  margin-top: -350px;

  width: 900px;
  height: 700px;
  border: 1px solid rgb(94, 63, 38);
  background: var(--white);
  box-shadow: 4px 4px 0 rgb(94, 63, 38 , 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-in-out;
  z-index: 1000;

  display: flex;
  flex-direction: column;
}

.Preview.is-visible {
  opacity: 1;
  visibility: visible;
}


.Preview a {
  text-decoration: underline;
}

.Preview p {
  font-size: 1em;
  line-height: 145%;
  margin: 0 0 2rem 0;
}

.Preview em {
  font-style: italic;
}

.Preview blockquote { 
  margin: 0 0 2rem 2rem;
  font-size: 1.25rem;
  line-height: 2rem;
  color: rgb(0, 75, 140);
} 

.Preview blockquote p { 
  text-align: left;
} 

.Preview blockquote ul li:before { 
  color: var(--body-text-complementary-color);
} 

.Preview h1,
.Preview h2,
.Preview h3  {
  margin: 1em 0;
}

.Preview strong,
.Preview h1,
.Preview h2,
.Preview h3  {
  font-weight: 600;
}

.Pagination {
  display: flex;
  width: 100%;
  padding: 1em;
  border-top: 1px solid var(--text);
}

.Pagination__item {
  color: var(--text);
}

.Pagination {
  user-select: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Pagination__item {
  color: var(--active);
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 0.4em;
  width: 20px;
  height: 20px;
}

.Pagination__item.is-selected {
  color: var(--white);
  background: var(--text);
  border-color: var(--text)
}

.Form {
  width: 400px;
}

.Form__title {
  position: relative;
  margin: 0 0 1em;
  font-size: .8em;
  font-weight: bold;
  opacity: 0.5;
  text-transform: uppercase;
  padding: 0 0 0.2em;
  border-bottom: 1px solid rgba(94,63,38, 1);
}

.Form__pages {
  position: absolute;
  right: 0;
  bottom: 0;
}

.Form__actions {
  display: flex;
  justify-content: space-between;
}

.Form__actions > * {
  margin: 0 0.4em 0 0;
}

.InputField {
  display: flex;
  flex-direction: column;
  margin: 0 0 1em;
}

.InputField__label {
  font-weight: bold;
  margin: 0 0 0.2em;
  font-size: .8em;
}

.InputField__input {
  font-size: .8em;
  padding: 0.8em;
}

.Setup__intro {
  width: 800px;
  margin: 0 0 1em;
}
